@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    font-family: 'Inter', sans-serif;
}
.cabecalho{
    padding: 8% 5% 0 4%;
   
}
.cabecalho__menu{
 display: flex;   
 gap: 80px;
 font-family: 'poppins', sans-serif;
 justify-content: center;
text-align: center;
}
.cabecalho__menu__link{
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;  
    cursor: pointer;
    font-size: 35px;
}
.cabecalho__menu__link:hover{
    color: #a10606;
    transition: 0.3s;
    transform: scale(1.1);
}
/* inicio do paragrafo */

.principal-text {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente, se tiver altura definida */
    padding: 4%;
    flex-direction: column;
    gap: 20px;
}

.paragrafo-text {
    width: 615px;
    line-height: 1.6;
    font-size: 26px;
    text-align: center; /* ou center, se preferir centralizar o texto */
    font-family: 'Poppins', sans-serif;
  
}



