@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    
        --cor-primaria: #000000;
        --cor-secundaria: #ffff;
        --cor-terciaria:  #123458;
        --font-primaria: 'Montserrat', sans-serif;
        --font-secundaria: 'poppins', sans-serif;
        
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        /* height: 100vh; */
        box-sizing: border-box;
        background-color: #000000;
        color: #F6F6F6;
    }
}
strong{
    color: var(--cor-terciaria);
}
.cabecalho{
    padding: 5% 0 0 15%;
}
.cabecalho__menu{
 display: flex;   
 gap: 100px;
 font-family: 'montserrat' , sans-serif;
}
.cabecalho__menu__link{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;  
    cursor: pointer;
}
.cabecalho__menu__link:hover{
    color: var(--cor-terciaria);
    transition: 0.3s;
    transform: scale(1.1);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
 
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links__link:hover{
    background-color: #272727;
}
.img__ancoras{
    width: 33px;
}
.img__ph{
    width: 450px;
    border-radius: 20px;
    box-shadow: #ffffff34 1px 1px 7px 8px;
}
.rodape{
    color: #000000;
    background-color:var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

